<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>David Durlan</title>
    <link rel="stylesheet" href="styles_man.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="animate_man.css" />
</head>

<body>
    <header class="header">
        <div class="flex-header">
            <div class="title">
                <h1 class="red">David Durlan,</h1>
                <h3 class="red">frontend engineer.</h3>
            </div>
            <a href="/animation">
                <div class="animation-wrapper">
                    <div class="animation">
                        <div class="man">
                            <div class="upper-body">
                                <img class="r-arm" src="man_layers/r-arm.svg" />
                                <img class="torso" src="man_layers/torso.svg" />
                                <div class="l-arm">
                                    <img class="l-up-arm" src="man_layers/l-up-arm.svg" />
                                    <img class="l-low-arm" src="man_layers/l-low-arm.svg" />
                                </div>
                            </div>
                            <div class="boat-legs-laptop-motor">
                                <div class="motor">
                                    <div class="propeller">
                                        <img src="man_layers/propeller.svg" />
                                        <img src="man_layers/propeller.svg" />
                                    </div>
                                    <img class="engine" src="man_layers/engine.svg" />
                                </div>
                                <img class="legs-and-boat" src="man_layers/legs-and-boat.svg" />
                                <div class="laptop">
                                    <img class="laptop-bottom" src="man_layers/laptop-bottom.svg" />
                                    <img class="laptop-top" src="man_layers/laptop-top.svg" />
                                </div>
                            </div>
                        </div>
                        <div class="water">
                            <div class="wave"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <nav>
            <div class="navLinks">
                <div class="slider"></div>
                <div class="navLink" data-pos="0%">
                    About me
                </div>
                <div class="space"></div>
                <div class="navLink" data-pos="30%">Contact</div>
                <div class="space"></div>
                <div class="navLink" data-pos="60%">Portfolio</div>
            </div>
        </nav>
    </header>
    <main>
        <div id="contentContainer">
            <div id="contentWrapper">
                <div class="about-me page">
                    <p>{{data/about-me}}</p>
                </div>
                <div class="contact page">
                    <div class="contact-card">
                        <ul>
                            {{#data/contact-card}}
                            <li>
                                <a href={{url}} target="_blank">
                                    <img src={{imgUrl}} alt="">
                                    <p>{{value}}</p>
                                </a>
                            </li>
                            {{/data/contact-card}}
                        </ul>
                    </div>
                    <div class="contact-form">
                        <h4>...Or write me here!</h4>
                        <form action="/contact-me" method="POST">
                            <div class="form-sender">
                                <input type="text" name="name" id="name" placeholder="name" required />
                                <input type="email" name="email" id="email" placeholder="email" required />
                            </div>
                            <input type="text" name="subject" id="subject" placeholder="subject" />
                            <textarea name="message" name="message" id="message" placeholder="message"></textarea>
                            <button>submit</button>
                        </form>
                    </div>
                </div>
                <div class="portfolio page">
                    <img src="icons/back.svg" name="back" alt="" class="icon" />
                    <div class="portfolio-element-wrapper">
                        {{#data/portfolio}}
                        <div class="portfolio-element">
                            <div class="portfolio-element-content">
                                <h2>{{title}}</h2>
                                <video src={{imgUrl}} type="video/mp4" autoplay muted loop controls></video>
                                <p class="portfolio-description">{{description}}</p>
                                <p>{{text}}</p>
                                {{#if bullet-points}}
                                <h4>Features:</h4>
                                {{#if multiple-bullets}}
                                {{#bullet-points}}
                                <ul>
                                    {{#this}}
                                    <li><span>{{this}}</span></li>
                                    {{/this}}
                                </ul>
                                {{/bullet-points}}
                                {{else}}
                                <ul>
                                    {{#bullet-points}}
                                    <li><span>{{.}}</span></li>
                                    {{/bullet-points}}
                                </ul>
                                {{/if}}
                                {{/if}}
                                <a href={{url}} target="_blank">{{url}}</a>
                            </div>
                        </div>
                        {{/data/portfolio}}
                    </div>
                    <img src="icons/forward.svg" name="forward" alt="" class="icon" />
                </div>
            </div>
        </div>
    </main>
    <script src="script.js"></script>
</body>

</html>